#login-page {
    display: flex;
  }

#login-page aside {
    width: 70vw;
    height: 100vh;
    background: linear-gradient(329.54deg, #29B6D1 0%, #00C7C7 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#login-page aside p {
    line-height: 28px;
    margin-top: 24px;
}

#login-page aside .location {
    display: flex;
    flex-direction: column;
    line-height: 34px;
    margin-top: 140px;
    text-align: center;
}

#login-page aside .location strong {
    font-weight: 800;
}

#login-page main {
    background: #FFFFFF;
    position: relative;
}

#login-page .go-back {
    background: #EBF2F5;
    width: 48px;
    height: 48px;
    border: none;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 40px;
    right: 60px;
    transition: background-color 0.4s ease;
    cursor: pointer;
}

#login-page .go-back:hover {
    background: #D1EDF2;
}
  
form.login-form {
    width: 700px;
    margin: 5% auto;
  
    background: #FFFFFF;
    border-radius: 20px;
    padding: 64px 80px;
    overflow: hidden;
}
  
form.login-form fieldset {
    border: 0;
}
  
form.login-form fieldset legend {
    width: 100%;
  
    font-size: 32px;
    line-height: 34px;
    color: #5C8599;
    font-weight: 700;
  
    /* border-bottom: 1px solid #D3E2E5; */
    margin-bottom: 40px;
    padding-bottom: 24px;
}
  
form.login-form .input-block + .input-block {
    margin-top: 24px;
}
  
form.login-form .input-block label {
    display: flex;
    color: #8FA7B3;
    margin-bottom: 8px;
    line-height: 24px;
}

form.login-form .input-block input {
    width: 100%;
    background: #F5F8FA;
    border: 1px solid #D3E2E5;
    border-radius: 20px;
    outline: none;
    color: #5C8599;
}
  
form.login-form .input-block input {
    height: 64px;
    padding: 0 16px;
}

form.login-form button.confirm-button {
    margin-top: 50px;
  
    width: 100%;
    height: 64px;
    border: 0;
    cursor: pointer;
    background: #3CDC8C;
    border-radius: 20px;
    color: #FFFFFF;
    font-weight: 800;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    transition: background-color 0.2s;
}
  
form.login-form button.confirm-button:hover {
    background: #36CF82;
}

form.login-form .lembrar-senha {
    display: flex;
    justify-content: space-between;
}

form.login-form .lembrar-senha label {
    /* display: inline; */
    margin-left: 14px;
}

form.login-form .lembrar-senha .link-forgot-password {
    display: flex;
    text-decoration: none;
    color: #8FA7B3;
    cursor: pointer;
    transition: color 0.3s ease;
}

form.login-form .lembrar-senha .link-forgot-password:hover {
    color: #688b9c;
}

form.login-form .senha {
    position: relative;
}

form.login-form .eye-senha {
    color: #688b9c;
    position: absolute;
    top: 52px;
    right: 20px;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none; 
    -ms-user-select:none; 
    user-select:none;
    -o-user-select:none;
}