#logout-page {
    background-color: #ff853e;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0% 15%;
}

#logout-page main {
    width: 350px;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 50vh;
    color: #fff;
}

#logout-page main h2 {
    font-size: 80px;
    font-weight: 900;
    text-align: center;
}

#logout-page main p {
    font-size: 24px;
    font-weight: 600;
    line-height: 34px;
    text-align: center;
}

#logout-page .buttons {
    display: flex;
    width: 480px;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

#logout-page .button-link-map {
    color: #fff;
    text-decoration: none;
}

#logout-page .button-link-logout {
    color: hsl(338, 100%, 95%);
    text-decoration: none;
}

#logout-page main button.map-container {
    height: 64px;
    width: 220px;
    border: none;
    background:  #e26a25;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.4s ease;
}

#logout-page main button:hover {
    background: #ff711f;
}

#logout-page main button.delete-container {
    height: 64px;
    width: 220px;
    border: none;
    background:  #ff853e;
    border: 4px solid  #f56d1e;
    border-radius: 20px;
    color: #ffe6ef;
    cursor: pointer;
    transition: background-color 0.4s ease;
}

#logout-page main button.delete-container:hover {
    background: #e26a25;
    border: 4px solid  #e26a25;
}