#page-map {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
}

#page-map aside {
    width: 440px;
    background: linear-gradient(329.54deg, #29B6D1 0%, #00C7C7 100%);
    padding: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#page-map .leaflet-container {
    z-index: 5;
}

#page-map aside h2 {
    font-size: 40px;
    font-weight: 800;
    line-height: 42px;
    margin-top: 64px;
}

#page-map aside p {
    line-height: 28px;
    margin-top: 24px;
}

#page-map aside footer {
    display: flex;
    flex-direction: column;
    line-height: 24px;
}

#page-map aside footer strong {
    font-weight: 800;
}

#page-map aside .login-link {
    margin-top: 20px;
    color: #fff;
    text-decoration: none;
    display: flex;
    justify-content: start;
    align-items: center;
    /* padding-left: 10px; */
    /* border-left: 10px solid #17d6eb; */
    position: relative;
    z-index: 10;
}

#page-map aside .login-link:hover {
    color: rgb(211, 255, 248);
}

#page-map aside .login-link:hover .login-icon {
    transform: translateX(10px);
}

/* #page-map aside .login-link::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: red;
    width: 10%;
    height: 100%;
    opacity: 0;
    transition: all 0.4s ease;
}

#page-map aside .login-link:hover::before {
    width: 100%;
    height: 100%;
    opacity: 0.4;
} */

#page-map aside .login-icon {
    margin-left: 10px;
    transition: transform 0.2s ease;
}

#page-map .create-orph {
    position: absolute;
    right: 40px;
    bottom: 40px;
    width: 64px;
    height: 64px;
    border-radius: 20px;
    background: #15c3d6;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease;
    z-index: 10;
}

#page-map .create-orph:hover {
    background: #17d6eb;
    right: 35px;
}

#page-map .map-popup .leaflet-popup-content-wrapper {
    background: rgba(255,255,255,0.8);
    border-radius: 20px;
    box-shadow: none;
}

#page-map .map-popup .leaflet-popup-content {
    color: #0089a5;
    font-size: 18px;
    font-weight: bold;
    margin: 8px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#page-map .map-popup .leaflet-popup-content a {
    background: #15c3d6;
    width: 40px;
    height: 40px;
    box-shadow: 17.2868px 27.6589px 41.4884px rgba(23, 142, 166, 0.16);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#page-map .map-popup .leaflet-popup-tip-content {
    display: none;
}