#registered-page {
    background-color: #37C77F;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0% 15%;
}

#registered-page main {
    width: 350px;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 50vh;
    color: #fff;
}

#registered-page main h2 {
    font-size: 80px;
    font-weight: 900;
    text-align: center;
}

#registered-page main p {
    font-size: 24px;
    font-weight: 600;
    line-height: 34px;
    text-align: center;
}

#registered-page main button {
    height: 64px;
    width: 243px;
    border: none;
    background: #31B272;
    border-radius: 20px;
    color: #fff;
    margin-top: 40px;
    cursor: pointer;
    transition: background-color 0.4s ease;
}

#registered-page main button:hover {
    background: #3BD689;
}

#registered-page .button-link-map {
    color: #fff;
    text-decoration: none;
}